.heading{


    text-align: center;
    background-color: rgb(10, 75, 96);
    color:white;
}

.list{

    display: flex;
    flex-direction: row;
}

li{

    float:left;
    list-style-type:none;
    padding: 10px;
   
   
   

}



button{

    background-color: white;
    --background-color-dark: rgb(4, 4, 4);
    padding: 10px;
    display: inline-block;
    margin: 0px 8px;
    box-shadow: 2px 2px rgb(116, 115, 115);
    border: 1px solid rgb(205, 202, 202);
    border-style:groove;

}

.list > li:nth-child(1){

   color:rgb(40, 128, 128);
   text-decoration: none;
   padding: 10px;  
}
h2{

    color:cadetblue;
}

.wrapper div{

color: rgb(132, 114, 114);

}

footer{

    background-color:rgb(10, 75, 96) ;
    color: white;
    text-align: center;
    padding: 10px;
}
